<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt-br" dir="ltl" lang="pt-br">

<head>
  <title>Email carrinho abandonado 1</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
</head>

<body>
  <table cellpadding="0" cellspacing="0" border="0" width="100%"
    style="background-color: transparent; font-family: Arial, sans-serif;">
    <tr>
      <td align="center" valign="top" style="padding: 20px;">
        <p>Olá!</p>
        <p>Aqui é o Gabriel da loja virtual da Builder seu negócio online, e percebi que você adicionou algun(s) iten(s)
          ao seu carrinho, mas
          ainda não finalizou a compra.<br>
          Eu só queria ter certeza de que todas as suas perguntas foram respondidas e que você não está tendo
          problemas com o processo de finalização da compra.
          <br><br>Estou empenhado em fazer tudo o que puder para ajudá-lo.<br>
          Se você estiver tendo problemas para fazer seu pedido on-line ou tiver dúvidas, basta mandar um email
          para,<br><br>
          contato@builderseunegocioonline.com.br ou falar comigo por Whatsapp clicando <a
            style="font-size: 15px; font-weight: 700;" href="https://api.whatsapp.com/send?phone=5554996132982"
            target="_blank">AQUI</a><br><br>
          Caso contrário, você pode terminar sua compra aqui abaixo:<br><br>
          Aguardo você la na loja online!<br><br>
        </p>
      </td>
      <hr />
    </tr>
  </table>
  <br />
  <br />
  <table cellpadding="0" cellspacing="0" border="0" width="100%"
    style="background-color: #000000; font-family: Arial, sans-serif;">
    <tr>
      <td align="center" valign="top" style="padding: 20px;">
        <img style="height: 30%; height: 30%;" src="<%= domain_api %>/files/<%= logo %>" alt="<%= name_ecommerce %>">
        <p style="color: #f4f4f4;"><%= name_ecommerce %></p>
      </td>
    </tr>
  </table>
</body>

</html>